body {
  background-color: rgb(27, 27, 27);
}

.player {
  display: grid;
}

.crossThumbnail {
  size: 10px;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    margin-top: 15%;
  }
  
  .box {
    width: 80px;
    height: 80px;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .box:first-child,
  .box:nth-child(2),
  .box:nth-child(3) {
    border-top: none;
  }
  
  .box:nth-child(3n + 1) {
    border-left: none;
  }
  
  .box:nth-child(3n + 3) {
    border-right: none;
  }
  
  .box:nth-child(7),
  .box:nth-child(8),
  .box:last-child {
    border-bottom: none;
  }
  
  .cross {
    
    background-image: url(./assets/cross.png);
    background-size: 50%;
    background-repeat: no-repeat;
    position: relative;
    background-position-x: center;
    background-position-y: center;
  }
  .cross::after {
    background-color: yellow;
    /* content: url(./assets/cross.png); */
  }

  .circle {
    background-image: url(./assets/circle.png);
    background-size: 50%;
    background-repeat: no-repeat;
    position: relative;
    background-position-x: center;
    background-position-y: center;
  }
  .circle::after {
    background-color: blue;
    /* content: url(./assets/circle.png); */
    
  }

  #reset {
      background-color: rgb(76, 167, 162);
      color: white;
      font-weight: bold;
      padding: 20px 40px;
      margin-top: 30px;
      border: none;
      cursor: pointer;
      /* position: absolute;
      left: 42.7%;
      display: flex;
      justify-content: center;
      align-items: center; */
    }

   #reset:hover {background-color: #a8c484}

